@import 'functions.scss';

.nd-row {
	.nd-col{
		.material-icons {
			font-size: 30px;
		}
	}

	.header {
		cursor: pointer;

		.indicator{

			&[value] {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				width: 50px;
				height: 35px;

				&::-webkit-progress-bar{
					background-color: white;
				}

				&.running{
					color: #5E9CD3;

					&::-webkit-progress-value{
						background-color: #5E9CD3;
						border-radius: 2px;
					}

					&::-moz-progress-bar{
						background-color: #5E9CD3;
					}
				}

				&.not_passed{
					color: #BE0712;

					&::-webkit-progress-value{
						background-color: #BE0712;
						border-radius: 2px;
					}

					&::-moz-progress-bar{
						background-color: #BE0712;
					}
				}

				&.passed{
					color: #548039;

					&::-webkit-progress-value{
						background-color: #548039;
						border-radius: 2px;
					}

					&::-moz-progress-bar{
						background-color: #548039;
					}
				}

				&.not_executed{
					color: #D8D8D8;

					&::-webkit-progress-value{
						background-color: #D8D8D8;
						border-radius: 2px;
					}

					&::-moz-progress-bar{
						background-color: #D8D8D8;
					}
				}
			}
		}
	}

	.info {
		position: relative;
		text-align: center;

		.sub-panel{
			@include box-sizing(border-box);

			height: 270px;
			float: left;
			margin: 0 2px;
			width: 19.5%;

			&.bordered{
				background-color: white;
				border: 3px solid #C5C5C5;
			}

			.result{
				padding-top: 40px;

				&.rejected{
					color: #C31B25;

					button{
						display: block;
						width: 80%;
						margin: 0 auto 5px;
					}
				}
				&.completed{
					color: #61953F;

					select, button{
						display: block;
						width: 80%;
						margin: 0 auto 5px;
						padding: 5px;
					}
				}
				&.running{
					color: #427FB3;
				}
				&.pending{
					color: #C9C9C9;
				}

				h4, h1{
					margin: 0;
					padding: 0;
				}
			}

			.title{
				@include box-sizing(border-box);

				margin: 0;
				padding: 5px 15px 0;
				text-align: left;
			}

			.unit_test, .functional_test{
				text-align: center;

				.graph-wrapper{
					width: 100%;
					padding: 20px 0 0;

					.graph{
						float: left;
						width: 60%;

						canvas{
							width: 175px !important;
							height: inherit !important;
						}
					}
					.graph-legend{
						float: left;
						height: 60px;
						width: 40%;
						text-align: left;

						.tier-1{
							color: #A4C74C;
							margin: 0;
							padding: 0;
						}
						.tier-2{
							font-size: 12px;
						}
					}
				}
				.test-covered{
					padding: 20px 0 0;
					position: relative;

					.progress-label{
						position: absolute;
						top: 20px;
						left: 38%;

						h4, h5{
							color: white;
							font-weight: normal;
							margin: 0;
							padding: 0;
						}
					}

					.test-indicator{
						&[value] {
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							width: 80%;
							height: 40px;
							color: #72AC4D;
							background-color: #EB7D3B;

							&::-webkit-progress-bar{
								background-color: #EB7D3B;
							}

							&::-webkit-progress-value{
								background-color: #72AC4D;
								border-radius: 2px;
							}

							&::-moz-progress-bar{
								background-color: #72AC4D;
							}
						}
					}
				}
			}

			.build{
				text-align: center;
				position: relative;

				.image{
					margin-top: 15%;
					width: 45%;
					height: 100px;
					line-height: 100px;
					color: #5E9CD3;
					display: inline-block;

					i{
						font-size: 100px;
					}
				}

				.date{
					margin: 10px 0;
					padding: 0;
					height: 25px;
				}
			}

			.metrics{
				.metric{
					@include box-sizing(border-box);
					width: 45%;
					display: inline-block;
					margin-bottom: 5px;

					& > div{
						width: 100%;
						height: 80px;
						background-repeat: no-repeat;
						background-position: center;
						text-align: center;
						line-height: 80px;
					}

					.alert{
						background-image: url('../img/red-arrow.png');
						color: white;
					}

					.warning{
						background-image: url('../img/yellow-arrow.png');
						color: black;
					}

					.ok{
						background-image: url('../img/green-arrow.png');
						color: white;
					}

					h4{
						margin: 0;
						padding: 0;
						height: 25px;
					}
				}
			}
		}
	}

	.nd-row-border {
		&.nd-row-border-rejected {
			.material-icons {
				color: #C31B25;
			}
		}

		&.nd-row-border-completed {
			.material-icons {
				color: #61953F;
			}
		}

		&.nd-row-border-pending {
			.material-icons {
				color: #C9C9C9;
			}
		}

		&.nd-row-border-running {
			.material-icons {
				color: #427FB3;
			}
		}
	}
}
