<link href="./css/dashboard.css" rel="stylesheet">

<div>
	<div class="nd-row nd-padding-5 nd-margin-5">
		<div class="nd-col nd-col-12 center-text bold-text">
			Changelist / Build
		</div>
		<div class="nd-col nd-col-12 center-text bold-text">
			Owner
		</div>
		<div class="nd-col nd-col-12 center-text bold-text">
			Time Started
		</div>
		<div class="nd-col nd-col-12 center-text bold-text">
			State
		</div>
		<div class="nd-col nd-col-12 center-text bold-text">
			Metrics
		</div>
		<div class="nd-col nd-col-12 center-text bold-text">
			Build
		</div>
		<div class="nd-col nd-col-12 center-text bold-text">
			Unit Test
		</div>
		<div class="nd-col nd-col-12 center-text bold-text">
			Functional Test
		</div>
	</div>
	<div ng-repeat="item in dc.items" class="nd-row nd-row-border nd-margin-5" ng-class="{
						   'nd-row-border-pending': item.state == 'pending',
						   'nd-row-border-completed': item.state == 'completed',
						   'nd-row-border-running': item.state == 'running',
						   'nd-row-border-rejected': item.state == 'rejected',
					}">
		<div class="header nd-padding-10" ng-click="dc.toggleData(item._id)">
			<div class="nd-col nd-col-12">
				<div class="nd-row">
					<div class="nd-col nd-col-25">
						<i ng-show="item.type == 'firewall'" class="material-icons">storage</i>
						<i ng-show="item.type == 'build'" class="material-icons">desktop_windows</i>
					</div>
					<div class="nd-col nd-col-75">
						{{item.name}}
					</div>
				</div>
			</div>
			<div class="nd-col nd-col-12">
				{{item.owner}}
			</div>
			<div class="nd-col nd-col-12">
				{{item.started}}
			</div>
			<div class="nd-col nd-col-12 camel-case center-text">
				{{item.state}}
			</div>
			<div class="nd-col nd-col-12">
				<progress ng-show="!item.isOpened" class="indicator {{item.metrics.status}}"
					ng-value="item.metrics.status === 'running' ? 50 : 100"
					max="100">
				</progress>
			</div>
			<div class="nd-col nd-col-12">
				<progress ng-show="!item.isOpened" class="indicator {{item.build.status}}"
					ng-value="{{ item.build.status === 'running' ? 50 : 100 }}"
					max="100">
				</progress>
			</div>
			<div class="nd-col nd-col-12">
				<progress ng-show="!item.isOpened" class="indicator {{item.unit_test.status}}"
					ng-value="{{ item.unit_test.status === 'running' ? 50 : 100 }}"
					max="100">
				</progress>
			</div>
			<div class="nd-col nd-col-12">
				<progress ng-show="!item.isOpened" class="indicator {{item.functional_test.status}}"
					ng-value="{{ item.functional_test.status === 'running' ? 50 : 100 }}"
					max="100">
				</progress>
			</div>
		</div>
		<div class="info nd-padding-10" ng-show="item.isOpened">
			<div class="sub-panel">
				<h3>
					Metrics
				</h3>
				<div class="metrics">
					<div class="metric">
						<div class="{{item.metrics.test_status}}">
							{{item.metrics.test}}
						</div>
						<h4>
							Test
						</h4>
					</div>
					<div class="metric">
						<div class="{{item.metrics.maintainability_status}}">
							{{item.metrics.maintainability}}
						</div>
						<h4>
							Maintainability
						</h4>
					</div>
					<div class="metric">
						<div class="{{item.metrics.security_status}}">
							{{item.metrics.security}}
						</div>
						<h4>
							Security
						</h4>
					</div>
					<div class="metric">
						<div class="{{item.metrics.workmanship_status}}">
							{{item.metrics.workmanship}}
						</div>
						<h4>
							Workmanship
						</h4>
					</div>
				</div>
			</div>
			<div class="sub-panel">
				<h3>
					Build
				</h3>
				<div class="build">
					<div class="image">
						<i class="material-icons">desktop_windows</i>
					</div>
					<div class="image">
						<i class="material-icons">desktop_windows</i>
					</div>
					<div class="date">
						{{item.build.date}}
					</div>
				</div>
			</div>
			<div class="sub-panel">
				<h3>
					Unit Test
				</h3>
				<div class="unit_test">
					<div class="graph-wrapper">
						<div class="graph">
							
						</div>
						<div class="graph-legend">
						</div>
					</div>
				</div>
			</div>
			<div class="sub-panel">
				<h3>
					Functional Test
				</h3>
				<div class="metrics">
				</div>
			</div>
			<div class="sub-panel">
				<h3>
					Result
				</h3>
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
</div>
